<!-- <ng-template #content let-d="dismiss"> -->
  
<div class="modal-header" >
  <h4 class="modal-title" id="modal-basic-title">User Profile</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
        <label>Name: {{user.name}}</label> <br />
        <label>Username: {{user.username}}</label><br />
        <label>Email: {{user.email}}</label><br />
        <label>Address: 
            <ul>
                <li>Street: {{user.address.street}}</li>
                <li>Suite:{{user.address.suite}}</li>
                <li>City:{{user.address.city}}</li>
                <li>Zipcode: {{user.address.zipcode}}</li>
                <label>Geo:
                    <ul>
                        <li>Latitude: {{user.address.geo.lat}}</li>
                        <li>Longitude: {{user.address.geo.lng}}</li>
                    </ul>
                </label>
            </ul>
        </label><br />
        <label>Phone: {{user.phone}}</label> <br />
        <label>Website: {{user.website}}</label> <br />
        <label>Company: 
            <ul>
                <li>Company Name: {{user.company.name}}</li>
                <li>Company Catch Phrase: {{user.company.catchPhrase}}</li>
                <li>Company bs: {{user.company.bs}}</li>
            </ul>
        </label> <br />
        
    </div>
  </form>
  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.hide()">Close</button>
</div>
<!-- </ng-template> -->
