<div class="card text-white bg-danger o-hidden h-100">
    <div class="card-header bg-info">
        <div class="float-left">User ID: {{user.id}}</div>
        <div class="float-right">Name: {{user.name}}</div>
    </div>
    <div class="card-body">
        <div class="card-text">Email: <a href="#" style="color: wheat;">{{user.email}}</a></div>
        <div class="card-text">Company Name: {{user.company.name}}</div>
    </div>
    <a class="card-footer text-white bg-primary clearfix small z-1" href="#" (click)="onSelected()">
        <span class="float-left">View Details</span>
    </a>
</div>
<!-- Pop-UP -->
<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">User Profile</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label>Name: {{user.name}}</label> <br />
            <label>Username: {{user.username}}</label><br />
            <label>Email: {{user.email}}</label><br />
            <label>Address: 
                <ul>
                    <li>Street: {{user.address.street}}</li>
                    <li>Suite:{{user.address.suite}}</li>
                    <li>City:{{user.address.city}}</li>
                    <li>Zipcode: {{user.address.zipcode}}</li>
                    <label>Geo:
                        <ul>
                            <li>Latitude: {{user.address.geo.lat}}</li>
                            <li>Longitude: {{user.address.geo.lng}}</li>
                        </ul>
                    </label>
                </ul>
            </label><br />
            <label>Phone: {{user.phone}}</label> <br />
            <label>Website: {{user.website}}</label> <br />
            <label>Company: 
                <ul>
                    <li>Company Name: {{user.company.name}}</li>
                    <li>Company Catch Phrase: {{user.company.catchPhrase}}</li>
                    <li>Company bs: {{user.company.bs}}</li>
                </ul>
            </label> <br />
            
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
  </ng-template> -->
