<h1 style="text-align: center">User List</h1>
<hr>

<div class="row" style="padding-top:20px">
    <app-user-list-items 
    *ngFor='let userList of users' 
    class="col-lg-4 mb-3" 
    [user]="userList"
    (userSelected)="onUserSelected(userList)">
    </app-user-list-items>
</div>
